@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  /* --color-*: initial; */
  /* --spacing-22: 22px; */

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-fira: var(--font-fira-code);
  --font-weight-700: 700;

  --text-16: 1rem;
  --text-16--line-height: 1.5;

  --text-16/20: 1rem;
  --text-16/20--line-height: 2;

  --text-20: 1.25rem;
  --text-20--line-height: 1.5;

  /* instrument — Stelo Design System from Figma */

  /* Brand */
  --color-brand-midnight: #12203d;
  --color-brand-plum: #412636;
  --color-brand-lime: #d7ff75;
  --color-brand-orca: #1e1e1e;

  /* Neutral */
  --color-neutral-darkest: #412636;
  --color-neutral-dark: #412636;
  --color-neutral-plum: #412636;
  --color-neutral-slate: #53514b;
  --color-neutral-medium: #9b938a;
  --color-neutral-medium-tan: #d6c5ae;
  --color-neutral-tan: #e9e0d4;
  --color-neutral-bone: #f5f4ea;

  /* Active */
  --color-active-black: #000000;

  /* Accent */
  --color-accent-coral: #D86150;
  --color-accent-tangerine: #FFAB7B;
  --color-accent-lavender: #CAC7F0;
  --color-accent-gold: #F0B377;

  /* Surface */
  --color-surface-dark: #291928;
  --color-surface-light: #F8F6F2;

  /* Notification */
  --color-notification-error: #ac3d2e;
  --color-notification-warning: #fcaf2d;
  --color-notification-success: #015651;
  --color-notification-info: #2f57a8;
  --color-neutral-dark-gray: #412636;

  /* Fonts */
  --font-heading: "Pastiche Grotesque Trial", sans-serif;
  --font-body: "Gilroy", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.myClass {
  @apply flex flex-col;
}

@utility ut-grid-3-col {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}
